{
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "rules": {
    "max-len": [1, 100],
    "quotes": [2, "single"],
    "no-console": 0,
    "no-unused-vars": 1,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
